body {
    text-align: center;
}

#games-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
    
}

.game-card {
    border: 1px solid black;
    padding: 16px;
    margin: 12px;
    width: 300px;
    height: 400px;
}

.box-art {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.game-title {
    display: block;
    font-size: 1.2rem;
}

